/**
 * Midnight palette — pure black dark mode.
 */
[data-glpi-theme="midnight"] {
  --tblr-dark: #000;
  --tblr-light: #e6e6e6;
  --tblr-body-bg: #000;
  --tblr-primary-rgb: 182, 195, 224;
  --tblr-primary-fg: #232e3c;
  --tblr-secondary: #b0bbd4;
  --tblr-secondary-fg: #262d3d;
  --tblr-link-color-rgb: 200, 200, 200;
  --tblr-muted: #c6cad2;
  --tblr-badge-bg: var(--tblr-light);
  --tblr-badge-color: var(--tblr-dark);
  --glpi-mainmenu-bg: var(--tblr-body-bg);
  --glpi-mainmenu-fg: var(--tblr-body-color);
  --glpi-helpdesk-header: #1f1e1e;
  --glpi-helpdesk-tiles-section-bg: hsl(0deg, 1.6%, 4%);
  --glpi-helpdesk-tabs-section-bg: #000;
  --glpi-form-header-fg: #6ba8f3;
  --glpi-form-header-border-color: transparent;
  --glpi-tabs-bg: #1a1a1a;
  --glpi-tabs-fg: var(--tblr-light);
  --glpi-tabs-border-color: transparent;
  --glpi-tabs-active-bg: #3a3938;
  --glpi-tabs-active-fg: var(--tblr-muted);
  --glpi-tabs-active-border-color: transparent;
  --glpi-itil-secondary-bg: #1d2531;
  --glpi-timeline-fup-bg: #1c2430;
  --glpi-timeline-fup-fg: #8892a8;
  --glpi-timeline-fup-border-color: #2f3d50;
}
